cardminigames.fun, www.cardminigames.fun {
  encode zstd gzip
  root * /site

  @www host www.cardminigames.fun
  redir @www https://cardminigames.fun{uri} 308

  route {
    reverse_proxy /api/v1/* backend:4000
    reverse_proxy /uploads/* backend:4000

    try_files {path} /index.html
    file_server
  }
}
